* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.header-notification{
    background-color:  #F1F1F1;
    
    height: 40px;
    padding-top: 10px;
    text-transform: uppercase;
    text-align: center;
    
}

